[Unit]
Description=Geomap administration tool
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/geomap-admin/
ExecStart=/usr/bin/python application.py

[Install]
WantedBy=multi-user.target
