<!doctype html>
<html lang="ru-RU">
	<head>
		<title>Административная страница</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}">
		<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
		<style>
			body {
				font-size: 9pt;
			}

			.menu {
				position: absolute;
				top: 50px;
				left: 0px;
				width: 200px;
				height: calc(100% - 50px);
				background-color: #6f6f6f;
			}

			.menu li {
				list-style: none;
				margin-top: 10px;
			}

			.menu li a {
				color: white;
				font-weight: bold; 
			}

			.active {
				background-color: red;
			}
			
			.header {
				position: relative;
				top: 0;
				left: 0;
				height: 50px;
				width: calc(100%);
				background-color: #6f6f6f;
				margin-bottom: 20px;
			}

			.logout {
				position: absolute;
				top: 20px;
				right: 20px;
				color: red;
			}
			
			.title {
				position: absolute;
				left: 20px;
				top: 20px;
				font-weight: bold;
				color: red;
				font-size: 12pt;
			}

			.dropdown {
				display: none;
				width: 100%;
				max-height: 200px;
				overflow-y: scroll;
				float: right;
				position: absolute;
				z-index: 1000;
				background-color: white;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#group_id").hide();
				$("#type_id").hide();
				$("#subtype_id").hide();

				$("#deposit_site").keyup(function() {
					if ($("#deposit_site").val() == "") {
						$("#deposits_sites").hide();
					} else {
						$("#deposits_sites").show();
					}
					get_deposits_sites();
				});
			});

			function set_deposit_site_id(id, val) {
				$("#deposit_site_id").val(id);
				$("#deposit_site").val(val);
				$("#deposits_sites").hide();
			}

			function get_deposits_sites() {
				var partial_deposit_site_name = $("#deposit_site").val();
				$.get("{{ url_for('get_deposits_sites_ajax') }}?partial_deposit_site_name=" + partial_deposit_site_name, function(data) {
					var html = "<lu>";
					for (idx in data) {
						var item = data[idx];
						html += "<li>" + 
							"<a href='#' onclick='set_deposit_site_id(" + item["id"] + ", \"" + item["name"].replace(/\"/g, "\\\"") + "\")'>" +
								item["name"] + 
							"</a></li>";
					}
					html += "</lu>";
					$("#deposits_sites").html(html);
				});
				
			}

			function get_groups() {
				var kind_id = $("#kind_id").val();

				if (kind_id == 0) {
					var html = "<option value='0'>Группа не выбрана</option>";
					$("#group_id").html(html);
					$("#group_id").hide();
					var html = "<option value='0'>Тип не выбран</option>";
					$("#type_id").html(html);
					$("#type_id").hide();
					var html = "<option value='0'>Подтип не выбран</option>";
					$("#subtype_id").html(html);
					$("#subtype_id").hide();
					return;
				}

				var html = "<option value='0'>Тип не выбран</option>";
				$("#type_id").html(html);
				$("#type_id").hide();

				var html = "<option value='0'>Подтип не выбран</option>";
				$("#subtype_id").html(html);
				$("#subtype_id").hide();

				$.get("{{ url_for('deposit_groups_ajax') }}?deposit_kind_id=" + kind_id, function(data) {
					var html = "<option value='0'>Группа не выбрана</option>";
					for (idx in data) {
						var item = data[idx];
						html += "<option value='" + item["group_id"] +"'>" + item["name"] + "</option>";
					}
					$("#group_id").html(html);
					$("#group_id").show();
				});
			}

			function get_types() {

				var kind_id = $("#kind_id").val();
				var group_id = $("#group_id").val();
				
				if (group_id == 0) {
					var html = "<option value='0'>Тип не выбран</option>";
					$("#type_id").html(html);
					$("#type_id").hide();
					var html = "<option value='0'>Подтип не выбран</option>";
					$("#subtype_id").html(html);
					$("#subtype_id").hide();
					return;
				}

				$.get("{{ url_for('deposit_types_ajax') }}?deposit_kind_id=" + kind_id + "&deposit_group_id=" + group_id, function(data) {
					var html = "<option value='0'>Тип не выбран</option>";
					for (idx in data) {
						var item = data[idx];
						html += "<option value='" + item["type_id"] +"'>" + item["name"] + "</option>";
					}
					$("#type_id").html(html);
					$("#type_id").show();
				});
			}

			function get_subtypes() {
				var kind_id = $("#kind_id").val();
				var group_id = $("#group_id").val();
				var type_id = $("#type_id").val();
				
				if (type_id == 0) {
					var html = "<option value='0'>Подтип не выбран</option>";
					$("#subtype_id").html(html);
					$("#subtype_id").hide();
					return;
				}

				$.get("{{ url_for('deposit_subtypes_ajax') }}?deposit_kind_id=" + kind_id + "&deposit_group_id=" + group_id + "&deposit_type_id=" + type_id, function(data) {
					var html = "<option value='0'>Подтип не выбран</option>";
					for (idx in data) {
						var item = data[idx];
						html += "<option value='" + item["subtype_id"] +"'>" + item["name"] + "</option>";
					}
					$("#subtype_id").html(html);
					$("#subtype_id").show();
				});
			}

		</script>
	</head>
	<body>
		<div class="header">
			<div class="title">Система администрирования базы данных</div>
			<a href="/logout/" class="logout">Выйти</a>
		</div>
		<div class="container">
			<div class="menu">
				<ul>
					<li>
						<a href="/areas/">Районы</a>
					</li>
					<li>
						<a href="/amount_units/">Единицы измерения</a>
					</li>
					<li>
						<a href="/deposit_kinds/">Виды</a>
					</li>
					<li>
						<a href="/deposit_groups/">Группы</a>
					</li>
					<li>
						<a href="/deposit_types/">Типы</a>
					</li>
					<li>
						<a href="/deposit_subtypes/">Подтипы</a>
					</li>
					<li>
						<a href="/minerals/">Полезные ископаемые</a>
					</li>
					<li>
						<a href="/deposit_statuses/">Статусы</a>
					</li>
					<li>
						<a href="/companies/">Организации</a>
					</li>
					<li>
						<a href="/sites/">Участки</a>
					</li>
					<li>
						<a href="/licenses/">Лицензии</a>
					</li>
					<li>
						<a href="/deposits/">Месторождения</a>
					</li>
					<li>
						<a href="/deposits_sites/">Сводная таблица: месторождения и участки</a>
					</li>
					<li class="active">
						<a href="/deposits_sites_types/">Сводная таблица: месторождения, участки и сырьё</a>
					</li>
					<li>
						<a href="/deposits_sites_licences/">Сводная таблица: месторождения, участки и лицензии</a>
					</li>
				</ul>
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<form action="/add_deposit_site_type/" method="post">
						<div class="form-group">
							<select name="kind_id" id="kind_id" 
									class="form-control" onchange="get_groups()">
								{% for kind in kinds %}
									<option value="{{ kind.kind_id }}">{{ kind.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<select name="group_id" id="group_id" onchange="get_types()"
									class="form-control">
								<option value="0">Группа не выбрана</option>
							</select>
						</div>
						<div class="form-group">
							<select name="type_id" id="type_id" onchange="get_subtypes()"
									class="form-control">
								<option value="0">Тип не выбрана</option>
							</select>
						</div>
						<div class="form-group">
							<select name="subtype_id" id="subtype_id" 
									class="form-control">
								<option value="0">Подтип не выбрана</option>
							</select>
						</div>
						<div class="form-group">
							<input type="hidden" name="deposit_site_id" id="deposit_site_id">
						</div>
						<div class="form-group">
							<select name="mineral_id" id="mineral_id" 
									class="form-control" >
								{% for mineral in minerals %}
									<option value="{{ mineral.mineral_id }}">{{ mineral.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<select name="status_id" id="status_id" 
									class="form-control" >
								{% for status in statuses %}
									<option value="{{ status.status_id }}">{{ status.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<input type="text" name="deposit_site" 
								id="deposit_site"
								class="form-control" 
								autocomplete="off"
								placeholder="Введите название месторождения и участка">
							<div id="deposits_sites" class="dropdown"></div>
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="amount_a_b_c1" 
								id="amount_a_b_c1" 
								placeholder="Запасы A+B+C1">
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="amount_c2" 
								id="amount_c2" 
								placeholder="Запасы C2">
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="description" 
								id="description" 
								placeholder="Описание">
						</div>
						<div class="form-group">
							<span>Разрешение на чтение</span>
						</div>
						{% for permission in permissions %}
							{% if permission["granted"] %}
								<div class="form-group">
									<input type="checkbox" 
										checked 
										name="{{permission["role"]}}">
								{{permission["role"]}}
								</div>
							{% else %}
								<div class="form-group">
									<input type="checkbox" 
									name="{{permission["role"]}}">{{permission["role"]}}
								</div>
							{% endif %}
						{% endfor %}
						<div class="form-group">
							<button type="submit" class="btn btn-primary form-control">Сохранить</button>
						</div>
						{% if error %}
							<div class="form-group">
								<div class="alert alert-danger" role="alert">
									<span>{{ error }}</span>
								</div>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>