<!doctype html>
<html lang="ru-RU">
	<head>
		<title>Административная страница</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}">
		<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
		<style>
			body {
				font-size: 9pt;
			}
			
			.header {
				position: relative;
				top: 0;
				left: 0;
				height: 50px;
				width: calc(100%);
				background-color: #6f6f6f;
				margin-bottom: 20px;
			}

			.logout {
				position: absolute;
				top: 20px;
				right: 20px;
			}
			.active {
				background: #9f9f9f;
			}
			.title {
				position: absolute;
				left: 20px;
				top: 20px;
				font-weight: bold;
				color: #007bff;
				font-size: 12pt;
			}
			.dropdown {
				display: none;
				width: 100%;
				max-height: 200px;
				overflow-y: scroll;
				float: right;
				position: absolute;
				z-index: 1000;
				background-color: white;
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#site").keyup(function() {
					if ($("#site").val() == "") {
						$("#sites").hide();
					} else {
						$("#sites").show();
					}
					get_sites();
				});

				$("#deposit").keyup(function() {
					if ($("#deposit").val() == "") {
						$("#deposits").hide();
					} else {
						$("#deposits").show();
					}
					get_deposits();
				});

				$('#plan_selector').click(function(e) {
					$('#plan').click();
					e.preventDefault();
					return false;
				});

				$('#cut_selector').click(function(e) {
					$('#cut').click();
					e.preventDefault();
					return false;
				});
			});

			function set_deposit_id(id, val) {
				$("#deposit_id").val(id);
				$("#deposit").val(val);
				$("#deposits").hide();
			}

			function get_deposits() {
				var partial_deposit_name = $("#deposit").val();
				$.get("{{ url_for('get_deposits_ajax') }}?partial_deposit_name=" + partial_deposit_name, function(data) {
					var html = "<lu>";
					for (idx in data) {
						var item = data[idx];
						html += "<li>" + 
							"<a href='#' onclick='set_deposit_id(" + item["id"] + ", \"" + item["name"].replace(/\"/g, "\\\"") + "\")'>" +
								item["name"] + 
							"</a></li>";
					}
					html += "</lu>";
					$("#deposits").html(html);
				});
				
			}

			function set_site_id(id, val) {
				$("#site_id").val(id);
				$("#site").val(val);
				$("#sites").hide();
			}

			function get_sites() {
				var partial_site_name = $("#site").val();
				$.get("{{ url_for('get_sites_ajax') }}?partial_site_name=" + partial_site_name, function(data) {
					var html = "<lu>";
					for (idx in data) {
						var item = data[idx];
						html += "<li>" + 
							"<a href='#' onclick='set_site_id(" + item["id"] + ", \"" + item["name"].replace(/\"/g, "\\\"") + "\")'>" +
								item["name"] + 
							"</a></li>";
					}
					html += "</lu>";
					$("#sites").html(html);
				});
			}

			function get_areas(region_id) {
				$.get("{{ url_for('get_areas_ajax') }}?region_id=" + region_id, function(data) {
					var html = "";
					for (idx in data) {
						var item = data[idx];
						html += "<option value='" + item["area_id"] +"'>" + item["name"] + "</option>";
					}
					$("#area_id").html(html);
				});
			}

		</script>
	</head>
	<body>
		<div class="header">
			<div class="title">Система администрирования базы данных</div>
			<a href="/logout/" class="logout">Выйти</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<table class="table">
						<tbody>
							<tr>
								<td><a href="/areas/">Районы</a></td>
							</tr>
							<tr>
								<td><a href="/amount_units/">Единицы измерения</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_kinds/">Виды</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_groups/">Группы</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_types/">Типы</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_subtypes/">Подтипы</a></td>
							</tr>							
							<tr>
								<td><a href="/minerals/">Полезные ископаемые</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_statuses/">Статусы</a></td>
							</tr>
							<tr>
								<td><a href="/companies/">Организации</a></td>
							</tr>
							<tr>
								<td><a href="/sites/">Участки</a></td>
							</tr>
							<tr>
								<td><a href="/licenses/">Лицензии</a></td>
							</tr>
							<tr>
								<td><a href="/deposits/">Месторождения</a></td>
							</tr>
							<tr class="active">
								<td><a href="/deposits_sites/">Сводная таблица: месторождения и участки</a></td>
							</tr>
							<tr>
								<td><a href="/deposits_sites_types/">Сводная таблица: месторождения, участки и сырьё</a></td>
							</tr>
							<tr>
								<td><a href="/deposits_sites_licences/">Сводная таблица: месторождения, участки и лицензии</a></td>
							</tr>
							<!-- tr>
								<td><a href="#">Контур участка</a></td>
							</tr>
							<tr>
								<td><a href="#">Контур залицензированного участка</a></td>
							</tr -->
						</tbody>
					</table>
				</div>
				<div class="col-sm-9">
					<form action="/add_deposit_site/" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<select name="region_id" id="region_id" 
									class="form-control" 
									onchange="get_areas(this.value)">
								{% for region in regions %}
								<option value="{{ region.region_id }}">{{ region.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<select name="area_id" 
									id="area_id" 
									class="form-control">
								{% for area in areas %}
								<option value="{{ area.area_id }}">{{ area.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<input type="hidden" name="deposit_id" id="deposit_id">
						</div>
						<div class="form-group">
							<input type="hidden" name="site_id" id="site_id">
						</div>
						<div class="form-group">
							<input type="text" name="deposit" 
								id="deposit"
								class="form-control" 
								autocomplete="off"
								placeholder="Введите название месторождения">
							<div id="deposits" class="dropdown"></div>
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="site" 
								id="site" 
								autocomplete="off"
								placeholder="Введите название участка">
							<div id="sites" class="dropdown"></div>
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="lat" 
								id="lat" 
								placeholder="Широта">
						</div>
						<div class="form-group">
							<input type="text" 
								class="form-control" 
								name="lon" 
								id="lon" 
								placeholder="Долгота">
						</div>
						<div class="form-group">
							<button class="btn btn-primary form-control"
								id="plan_selector"
								>Выбрать изображение (план)</button>
							<input type="file" 
								accept=".png, .jpg, .jpeg"
								style="display:none"
								class="form-control" 
								name="plan" 
								id="plan" 
								placeholder="Выберите изображение (план)">
						</div>
						<div class="form-group">
							<button class="btn btn-primary form-control" id="cut_selector">Выбрать изображение (разрез)</button>
							<input type="file" 
								accept=".png, .jpg, .jpeg"
								style="display:none"
								class="form-control" 
								name="cut" 
								id="cut" 
								placeholder="Выберите изображение (разрез)">
						</div>
						<div class="form-group">
							<span>Разрешение на чтение</span>
						</div>
						{% for permission in permissions %}
							{% if permission["granted"] %}
								<div class="form-group">
									<input type="checkbox" 
										checked 
										name="{{permission["role"]}}">
								{{permission["role"]}}
								</div>
							{% else %}
								<div class="form-group">
									<input type="checkbox" 
									name="{{permission["role"]}}">{{permission["role"]}}
								</div>
							{% endif %}
						{% endfor %}
						<div class="form-group">
							<button type="submit" class="btn btn-primary form-control">Сохранить</button>
						</div>
						{% if error %}
							<div class="form-group">
								<div class="alert alert-danger" role="alert">
									<span>{{ error }}</span>
								</div>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>