<!doctype html>
<html lang="ru-RU">
	<head>
		<title>Административная страница</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<style>
			.header {
				position: relative;
				top: 0;
				left: 0;
				height: 50px;
				width: calc(100%);
				background-color: #6f6f6f;
				margin-bottom: 20px;
			}

			.logout {
				position: absolute;
				top: 20px;
				right: 20px;
			}
			.active {
				background: #9f9f9f;
			}
			.title {
				position: absolute;
				left: 20px;
				top: 20px;
				font-weight: bold;
				color: #007bff;
				font-size: 12pt;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="title">Система администрирования базы данных</div>
			<a href="/logout/" class="logout">Выйти</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<table class="table">
						<tbody>
							<tr>
								<td><a href="/areas/">Районы</a></td>
							</tr>
							<tr>
								<td><a href="/amount_units/">Единицы измерения</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_kinds/">Виды</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_groups/">Группы</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_types/">Типы</a></td>
							</tr>
							<tr class="active">
								<td><a href="/deposit_subtypes/">Подтипы</a></td>
							</tr>
							<tr>
								<td><a href="/minerals/">Полезные ископаемые</a></td>
							</tr>
							<tr>
								<td><a href="/deposit_statuses/">Статусы</a></td>
							</tr>
							<tr>
								<td><a href="#">Организации</a></td>
							</tr>
							<tr>
								<td><a href="#">Участки</a></td>
							</tr>
							<tr>
								<td><a href="#">Лицензии</a></td>
							</tr>
							<tr>
								<td><a href="#">Месторождения</a></td>
							</tr>
							<tr>
								<td><a href="#">Сводная таблица: месторождения и участки</a></td>
							</tr>
							<tr>
								<td><a href="#">Сводная таблица: месторождения, участки и лицензии</a></td>
							</tr>
							<!-- tr>
								<td><a href="#">Контур участка</a></td>
							</tr>
							<tr>
								<td><a href="#">Контур залицензированного участка</a></td>
							</tr -->
						</tbody>
					</table>
				</div>
				<div class="col-sm-9">
					
					<form action="/deposit_subtypes/" method="get" onchange="this.submit()">
						<div class="form-group">
							<a href="/add_deposit_subtype/">Добавить</a>
						</div>
						<div class="form-group">
							<select name="deposit_kind_id" class="form-control">
								{% for deposit_kind in deposit_kinds %}
								<option value="{{ deposit_kind.kind_id }}">{{ deposit_kind.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<select name="deposit_group_id" class="form-control">
								{% for deposit_group in deposit_groups %}
								<option value="{{ deposit_group.group_id }}">{{ deposit_group.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<select name="deposit_type_id" class="form-control">
								{% for deposit_type in deposit_types %}
								<option value="{{ deposit_type.type_id }}">{{ deposit_type.name }}</option>
								{% endfor %} 
							</select>
						</div>
						<div class="form-group">
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th>Подтип</th>
										<th>Действие</th>
									</tr>
								</thead>
								<tbody>
									{% for deposit_subtype in deposit_subtypes %}
									<tr>
										<td>{{ deposit_subtype.name }}</td>
										<td>
											<a href="/delete_deposit_subtype?kind_id={{ deposit_subtype.kind_id }}&group_id={{ deposit_subtype.group_id }}&type_id={{deposit_subtype.type_id}}&subtype_id={{deposit_subtype.subtype_id}}&token={{token}}">
											Удалить</a>
											<a href="/edit_deposit_subtype?kind_id={{ deposit_subtype.kind_id }}&group_id={{ deposit_subtype.group_id }}&type_id={{deposit_subtype.type_id}}&subtype_id={{deposit_subtype.subtype_id}}">Редактировать</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>