<!doctype html>
<html lang="ru-RU">
	<head>
		<title>Административная страница</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<style>
			.header {
				position: relative;
				top: 0;
				left: 0;
				height: 50px;
				width: calc(100%);
				background-color: #6f6f6f;
				margin-bottom: 20px;
			}

			.logout {
				position: absolute;
				top: 20px;
				right: 20px;
			}
			.active {
				background: #9f9f9f;
			}
			.title {
				position: absolute;
				left: 20px;
				top: 20px;
				font-weight: bold;
				color: #007bff;
				font-size: 12pt;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="title">Система администрирования базы данных</div>
			<a href="/logout/" class="logout">Выйти</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<table class="table">
						<tbody>
							<tr>
								<td><a href="/areas/">Районы</a></td>
							</tr>
							<tr class="active">
								<td><a href="/amount_units/">Единицы измерения</a></td>
							</tr>
							<tr>
								<td><a href="#">Виды</a></td>
							</tr>
							<tr>
								<td><a href="#">Группы</a></td>
							</tr>
							<tr>
								<td><a href="#">Типы</a></td>
							</tr>
							<tr>
								<td><a href="#">Полезные ископаемые</a></td>
							</tr>
							<tr>
								<td><a href="#">Статусы</a></td>
							</tr>
							<tr>
								<td><a href="#">Организации</a></td>
							</tr>
							<tr>
								<td><a href="#">Участки</a></td>
							</tr>
							<tr>
								<td><a href="#">Лицензии</a></td>
							</tr>
							<tr>
								<td><a href="#">Месторождения</a></td>
							</tr>
							<tr>
								<td><a href="#">Месторождения-Участки</a></td>
							</tr>
							<tr>
								<td><a href="#">Месторождения-Участки-Лицензии</a></td>
							</tr>
							<tr>
								<td><a href="#">Контур участка</a></td>
							</tr>
							<tr>
								<td><a href="#">Контур залицензированного участка</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm">
					<form action="/edit_amount_unit/" method="post">
						<div class="form-group">
							<input type="hidden" name="amount_unit_id" value="{{amount_unit_id}}">
						</div>
						<div class="form-group">
							<input type="text" name="amount_unit" 
								class="form-control" 
								placeholder="Введите наименование единицы измерения"
								value="{{amount_unit}}">
						</div>
						<div class="form-group">
							<span>Разрешение на чтение</span>
						</div>
						{% for permission in permissions %}
							{% if permission["granted"] %}
								<div class="form-group">
									<input type="checkbox" 
										checked 
										name="{{permission["role"]}}">
								{{permission["role"]}}
								</div>
							{% else %}
								<div class="form-group">
									<input type="checkbox" 
									name="{{permission["role"]}}">{{permission["role"]}}
								</div>
							{% endif %}
						{% endfor %}
						<div class="form-group">
							<button type="submit" class="btn btn-primary form-control">Добавить</button>
						</div>
						{% if error %}
							<div class="form-group">
								<div class="alert alert-danger" role="alert">
									<span>{{ error }}</span>
								</div>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>