<html>
	<head>
		<title>Административная страница</title>
	</head>
	<body>
		<form action="/edit_area/" method="post">
			<input type="hidden" name="region_id" value="{{region_id}}">
			<input type="hidden" name="area_id" value="{{area_id}}">
			<input type="text" name="area" value="{{area}}"><br/>
			<span>Разрешение на чтение</span><br/>
			{% for permission in permissions %}
				{% if permission["granted"] %}
					<input type="checkbox" checked name="{{permission["role"]}}">{{permission["role"]}}<br/>
				{% else %}
					<input type="checkbox" name="{{permission["role"]}}">{{permission["role"]}}<br/>
				{% endif %}
			{% endfor %}
			<input type="submit" value="Обновить"><br/>
			{% if error %}
				<span>{{ error }}</span><br/>
			{% endif %}
		</form>
	</body>
</html>